.app {
  max-width: 1200px;
  padding: 2rem;
  margin: auto;
  height: 100vh;
}

.step {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.step__content {
  flex: 1;
  display: flex;
  justify-content:center;
  align-items:center;
  min-height: 0;
}

.step__action{
  text-align: right
}

.dragger{
  min-height: 240px;
  min-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
