.app {
  max-width: 1200px;
  padding: 2rem;
  margin: auto;
  height: 100vh;
}

.step {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.step__header {
  margin-bottom: 3rem;
}

.step__content {
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 0;
  overflow: auto;
}

.step__action {
  margin-top: 1.5rem;
  text-align: right;
}

.dragger {
  height: 240px !important;
  width: 240px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
